body{
    background-image: url(/src/backImg5.jpg);
    background-image: ;
    background-repeat: no-repeat;
    background-size: cover;
}

#create-box{
    background-color: #d581bb;
    opacity: 0.92;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 300px;
    height: 380px;
    margin-left: 41vw;
    margin-top: 12vw;

    border-radius: 20%;
        
}

h1{
    color: #7a008b;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: cursive;
}

input{
    margin-top: 20px;
    border-style: none;
    border-radius: 50px;
    padding: 0.5rem;
    text-align: center;
}

p{
    margin-top: 20px;
    font-size: 90%;
    color: #7a008b;
}

button{
    margin-top: 20px;
    border-style: outset;
    border-color: #7a008b;
    border-radius: 50px;
    padding: 0.5rem;
    width: 140px;
    text-shadow: none;
}

button:hover{
    background: #ff89f0;
	color: #fff;
    cursor:pointer;
}

a:link{
    color:#7a008b;
    text-decoration:none;
}

a:visited {
    color:#d700db;
    text-decoration:none;
}

a:hover {
    color:#7a008b;
}