body{
    width: 99%;
    height: 100vh;
    
    
}
video{
    
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-8%);
}

div{
    object-fit: cover;
    position: relative;
}



::-webkit-scrollbar {
    display: none;
  }